/*-----------------------------------------------------------------------------------*/
/* awa369.css - 子テーマ独自追加CSS
/*-----------------------------------------------------------------------------------*/

/* カートアイコン非表示 */
.fa-shopping-cart {
    display: none !important;
}




/* 全体のテーマカラー変更 */
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor svg,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:active,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:hover,
.wp-block-social-links .wp-block-social-link.wp-social-link .wp-block-social-link-anchor:visited {
    color: #043994 !important; 
}


/* 既存 #29AF8A を #043994 に統一 */

.borderless-company-information__item svg,.desktop-mode .header-bottom .navbar-nav .active > .nav-link,.desktop-mode .header-bottom .navbar-nav .active > .nav-link{
    color: #043994 !important; 
}

rs-slides, rs-slide, rs-slide:before {
    height: 94% !important;
}


body{
    font-family: 'Poppins', sans-serif!important;
    font-weight: 500!important; /* SemiBold */
}


.awa369-iconani .vc_icon_element-icon,.about01 .vc_icon_element-icon,.about02 .vc_icon_element-icon {
display: none!important;
}

.desktop-mode .header-bottom .navbar-brand>img{
    padding: 3% 40% 2.5% 0;
}

.desktop-mode .header-bottom.header-medium .navbar-brand, .desktop-mode .header-bottom.header-medium .navbar-nav li a{
    display: inherit!important;
    white-space: nowrap;
}

.borderless-company-information .borderless-company-information__item h3{
    font-size: 1rem;
    white-space: nowrap;
    margin-bottom: 0;
}

.borderless-company-information .borderless-company-information__item a,.borderless-company-information .borderless-company-information__item span{
    font-size: 1rem;
    white-space: nowrap;
}

.borderless-company-information .borderless-company-information__item {
    margin: 0.25rem 1rem 0.25rem 0;
}

#site-info__copyright,
.footer-credit,
.credits,
.site-info {
  /* display: none !important; */
}



body .is-layout-flex h2{
    font-size: 0.9rem;
    white-space: nowrap;
}

.desktop-mode ul#widget-menu {
    margin: 0 -50px!important;
}

.copyright-footer-item {
    text-align: left;
    color: #555;
}


/* 全体は中央揃えのまま */
.bottom-footer .row.align-items-center {
    display: flex;
    align-items: center; /* デフォルト中央揃え */
}

/* 左のコピーライトだけ上寄せ */
.bottom-footer .copyright-footer-item {
    align-self: flex-start; /* 上寄せ */
}

.navbar {
    padding: 0 1rem .5rem 1rem!important;
    margin-top: -0.5rem!important;
}

.widgets-footer p{
margin: 1rem 1rem 1rem 0;
}


.vc_custom_1762619623030{
    padding-bottom: 3rem !important;
}


.top-sec01-title{
    letter-spacing: 0.17rem;
}

.support-title,.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #rev_slider_4_1_forcefullwidth,
#rev_slider_4_1_wrapper {
    height: 1362px !important;
} */